.Quiz {
	display: flex;
	justify-content: center;
	padding: 40px 20px;
	flex-grow: 1;
	width: 100%;

}

.QuizTitle {
	color: aliceblue;
}

.QuizWrapper {
	width: 100%;
}

.center {
	text-align: center;
	min-height: 200px;
}
