.ActiveQuiz {
	border: 2px solid aliceblue;
	padding: 25px 30px;
	color:aliceblue;
	border-radius: 5px;
}

.Question {
	display: flex;
	justify-content: space-between;
	margin: 5px 0 10px;

}

.Question > span {
	font-size: 18px;
}

.Pagination {
	display: flex;
	justify-content: space-between;
	margin: 5px 0 10px;
	font-size: 20px;
}